body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.flex__container {
  background-color: gray;

  display: flex;

  justify-content: end;
}

.item-1,
.item-2,
.item-3 {
  align-items: center;

  background-color: blue;

  display: flex;

  height: 60px;
  margin: 10px;

  text-align: center;

  justify-content: center;

  width: 60px;
}

.flex__container__navbar {
  background-color: rgb(82, 82, 82);

  display: flex;

  justify-content: space-around;
}

.flex__container__navbar__beetwen {
  background-color: rgb(82, 82, 82);

  display: flex;

  justify-content: space-between;
}

.flex__container__vertical {
  align-items: center;

  background-color: rgb(82, 82, 82);

  display: flex;

  flex-direction: column;

  height: 400px;

  justify-content: space-between;
}

.flex__container__align_self {
  align-items: center;

  background-color: rgb(82, 82, 82);

  display: flex;

  height: 400px;

  justify-content: space-between;
}

.flex__container__align_self .item-3 {
  align-self: flex-end;
}

.flex__container__wrap {
  align-items: center;

  background-color: rgb(82, 82, 82);

  display: flex;

  flex-wrap: wrap;

  height: 400px;

  justify-content: space-between;
}

.flex__container__flex__grow {
  align-items: center;

  background-color: rgb(82, 82, 82);

  display: flex;

  height: 100px;

  justify-content: space-between;
}

.flex__container__flex__grow .item-3,
.flex__container__flex__grow .item-1 {
  flex-grow: 1;
  flex-basis: 100px;
}

.flex__container__flex__grow .item-2 {
  flex-grow: 9;
  flex-basis: 100px;
}